<html>
<head>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="LayoutMain">
  <div class="Head">
    <h1></h1>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<form name="qwer" action="/register" method="post">

  <ol class="block1">
    <li class="row row--1">
      <ol class="seats" type="A">

            <li class="seat">
            <input type="checkbox" name="go" value=100 id="1A" />
             <label for="1A">1A</label>
           </li>

        <li class="seat">
          <input type="checkbox"  name="go" value=101  id="1B" />
          <label for="1B">1B</label>
        </li>
        <li class="seat">
          <input type="checkbox"  name="go" value=102 id="1C" />
          <label for="1C">1C</label>
        </li>
        <li class="seat">
          <input type="checkbox" name="go" value=103  id="1D" />
          <label for="1D">1D</label>
        </li>
        <li class="seat">
          <input type="checkbox" name="go" value=104 id="1E" />
          <label for="1E">1E</label>
        </li>
        <li class="seat">
          <input type="checkbox" name="go" value=105 id="1F" />
          <label for="1F">1F</label>
        </li>
      </ol>
    </li>
    <li class="row row--2">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox" name="go" value=106 id="2A" />
          <label for="2A">2A</label>
        </li>
        <li class="seat">
          <input type="checkbox"  name="go"  value=107 id="2B" />
          <label for="2B">2B</label>
        </li>
        <li class="seat">
          <input type="checkbox"  name="go" value=108 id="2C" / />
          <label for="2C">2C</label>
        </li>
        <li class="seat">
          <input type="checkbox" name="go" value=109   id="2D" />
          <label for="2D">2D</label>
        </li>
        <li class="seat">
          <input type="checkbox" name="go"   value=110  id="2E" />
          <label for="2E">2E</label>
        </li>
        <li class="seat">
          <input type="checkbox" name="go"  value=111  id="2F" />
          <label for="2F">2F</label>
        </li>
      </ol>
    </li>
    <li class="row row--3">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox" name="go" value=112  id="3A" />
          <label for="3A">3A</label>
        </li>
        <li class="seat">
          <input type="checkbox" name="go" value=113  id="3B" />
          <label for="3B">3B</label>
        </li>
        <li class="seat">
          <input type="checkbox"  name="go" value=114 id="3C" />
          <label for="3C">3C</label>
        </li>
        <li class="seat">
          <input type="checkbox" name="go" value=115  id="3D" />
          <label for="3D">3D</label>
        </li>
        <li class="seat">
          <input type="checkbox" name="go" value=116  id="3E" />
          <label for="3E">3E</label>
        </li>
        <li class="seat">
          <input type="checkbox" name="go" value=117  id="3F" />
          <label for="3F">3F</label>
        </li>
      </ol>
    </li>
    <li class="row row--4">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox"  name="go" value=118 id="4A" />
          <label for="4A">4A</label>
        </li>
        <li class="seat">
          <input type="checkbox" name="go" value=119  id="4B" />
          <label for="4B">4B</label>
        </li>
        <li class="seat">
          <input type="checkbox"  name="go" value=120 id="4C" />
          <label for="4C">4C</label>
        </li>
        <li class="seat">
          <input type="checkbox" name="go" value=121  id="4D" />
          <label for="4D">4D</label>
        </li>
        <li class="seat">
          <input type="checkbox" name="go" value=122  id="4E" />
          <label for="4E">4E</label>
        </li>
        <li class="seat">
          <input type="checkbox"  name="go" value=123 id="4F" />
          <label for="4F">4F</label>
        </li>
      </ol>
    </li>
    <li class="row row--5">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox" name="go" value=124  id="5A" />
          <label for="5A">5A</label>
        </li>
        <li class="seat">
          <input type="checkbox" name="go" value=125  id="5B" />
          <label for="5B">5B</label>
        </li>
        <li class="seat">
          <input type="checkbox" name="go" value=126  id="5C" />
          <label for="5C">5C</label>
        </li>
        <li class="seat">
          <input type="checkbox"  name="go" value=127 id="5D" />
          <label for="5D">5D</label>
        </li>
        <li class="seat">
          <input type="checkbox"  name="go" value=128 id="5E" />
          <label for="5E">5E</label>
        </li>
        <li class="seat">
          <input type="checkbox"  name="go" value=129 id="5F" />
          <label for="5F">5F</label>
        </li>
      </ol>
    </li>
    <li class="row row--6">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox" name="go" value=130  id="6A" />
          <label for="6A">6A</label>
        </li>
        <li class="seat">
          <input type="checkbox" name="go" value=131  id="6B" />
          <label for="6B">6B</label>
        </li>
        <li class="seat">
          <input type="checkbox" name="go" value=132  id="6C" />
          <label for="6C">6C</label>
        </li>
        <li class="seat">
          <input type="checkbox" name="go" value=133  id="6D" />
          <label for="6D">6D</label>
        </li>
        <li class="seat">
          <input type="checkbox"  name="go" value=134 id="6E" />
          <label for="6E">6E</label>
        </li>
        <li class="seat">
          <input type="checkbox" name="go" value=135  id="6F" />
          <label for="6F">6F</label>
        </li>
      </ol>
    </li>
    </li>
  </ol>

<!-- 2nd BLOCK -->

  <ol class="block2">
    <li class="row row--1">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox" name="go" value=136  id="7A" />
          <label for="7A">1A</label>
        </li>
        <li class="seat">
          <input type="checkbox"  name="go" value=137 id="7B" />
          <label for="7B">1B</label>
        </li>
        <li class="seat">
          <input type="checkbox"  name="go" value=138 id="7C" />
          <label for="7C">1C</label>
        </li>
        <li class="seat">
          <input type="checkbox"  name="go" value=139 id="7D" />
          <label for="7D">1D</label>
        </li>
        <li class="seat">
          <input type="checkbox" name="go" value=140  id="7E" />
          <label for="7E">1E</label>
        </li>
        <li class="seat">
          <input type="checkbox" name="go" value=141  id="7F" />
          <label for="7F">1F</label>
        </li>
      </ol>
    </li>
    <li class="row row--2">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox"  name="go" value=142 id="8A" />
          <label for="8A">2A</label>
        </li>
        <li class="seat">
          <input type="checkbox"  name="go" value=143 id="8B" />
          <label for="8B">2B</label>
        </li>
        <li class="seat">
          <input type="checkbox" name="go" value=144  id="8C" />
          <label for="8C">2C</label>
        </li>
        <li class="seat">
          <input type="checkbox" name="go" value=145 id="8D" />
          <label for="8D">2D</label>
        </li>
        <li class="seat">
          <input type="checkbox"  name="go" value=146 id="8E" />
          <label for="8E">2E</label>
        </li>
        <li class="seat">
          <input type="checkbox"  name="go" value=147 id="8F" />
          <label for="8F">2F</label>
        </li>
      </ol>
    </li>
    <li class="row row--3">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox"  name="go" value=148 id="9A" />
          <label for="9A">3A</label>
        </li>
        <li class="seat">
          <input type="checkbox"  name="go" value=149 id="9B" />
          <label for="9B">3B</label>
        </li>
        <li class="seat">
          <input type="checkbox"  name="go" value=150 id="9C" />
          <label for="9C">3C</label>
        </li>
        <li class="seat">
          <input type="checkbox"  name="go" value=151 id="9D" />
          <label for="9D">3D</label>
        </li>
        <li class="seat">
          <input type="checkbox"  name="go" value=152 id="9E" />
          <label for="9E">3E</label>
        </li>
        <li class="seat">
          <input type="checkbox"  name="go" value=153 id="9F" />
          <label for="9F">3F</label>
        </li>
      </ol>
    </li>
    <li class="row row--4">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox"  name="go" value=154 id="10A" />
          <label for="10A">4A</label>
        </li>
        <li class="seat">
          <input type="checkbox"  name="go" value=155 id="10B" />
          <label for="10B">4B</label>
        </li>
        <li class="seat">
          <input type="checkbox"  name="go" value=156 id="10C" />
          <label for="10C">4C</label>
        </li>
        <li class="seat">
          <input type="checkbox" name="go" value=157  id="10D" />
          <label for="10D">4D</label>
        </li>
        <li class="seat">
          <input type="checkbox"  name="go" value=158 id="10E" />
          <label for="10E">4E</label>
        </li>
        <li class="seat">
          <input type="checkbox" name="go" value=159  id="10F" />
          <label for="10F">4F</label>
        </li>
      </ol>
    </li>
    <li class="row row--5">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox" name="go" value=160  id="11A" />
          <label for="11A">5A</label>
        </li>
        <li class="seat">
          <input type="checkbox" name="go" value=161   id="11B" />
          <label for="11B">5B</label>
        </li>
        <li class="seat">
          <input type="checkbox"  name="go" value=162 id="11C" />
          <label for="11C">5C</label>
        </li>
        <li class="seat">
          <input type="checkbox"  name="go" value=163 id="11D" />
          <label for="11D">5D</label>
        </li>
        <li class="seat">
          <input type="checkbox" name="go" value=164  id="11E" />
          <label for="11E">5E</label>
        </li>
        <li class="seat">
          <input type="checkbox"  name="go" value=165 id="11F" />
          <label for="11F">5F</label>
        </li>
      </ol>
    </li>
    <li class="row row--6">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox"  name="go" value=166 id="12A" />
          <label for="12A">6A</label>
        </li>
        <li class="seat">
          <input type="checkbox" name="go" value=167  id="12B" />
          <label for="12B">6B</label>
        </li>
        <li class="seat">
          <input type="checkbox"  name="go" value=168 id="12C" />
          <label for="12C">6C</label>
        </li>
        <li class="seat">
          <input type="checkbox"  name="go" value=169 id="12D" />
          <label for="12D">6D</label>
        </li>
        <li class="seat">
          <input type="checkbox" name="go" value=170  id="12E" />
          <label for="12E">6E</label>
        </li>
        <li class="seat">
          <input type="checkbox"  name="go" value=171 id="12F" />
          <label for="12F">6F</label>
        </li>
      </ol>
    </li>
    </li>
  </ol>
<!-- 3rd BLOCK -->
  <ol class="block3">
    <li class="row row--1">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox"  name="go" value=172 id="19A" />
          <label for="19A">1A</label>
        </li>
        <li class="seat">
          <input type="checkbox"  name="go" value=173 id="19B" />
          <label for="19B">1B</label>
        </li>
        <li class="seat">
          <input type="checkbox" name="go" value=174  id="19C" />
          <label for="19C">1C</label>
        </li>
        <li class="seat">
          <input type="checkbox"  name="go" value=175 id="19D" />
          <label for="19D">1D</label>
        </li>
        <li class="seat">
          <input type="checkbox" name="go" value=176  id="19E" />
          <label for="19E">1E</label>
        </li>
        <li class="seat">
          <input type="checkbox"  name="go" value=177 id="19F" />
          <label for="19F">1F</label>
        </li>
      </ol>
    </li>
    <li class="row row--2">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox"  name="go" value=178 id="20A" />
          <label for="20A">2A</label>
        </li>
        <li class="seat">
          <input type="checkbox"  name="go" value=179 id="20B" />
          <label for="20B">2B</label>
        </li>
        <li class="seat">
          <input type="checkbox" name="go" value=180  id="20C" />
          <label for="20C">2C</label>
        </li>
        <li class="seat">
          <input type="checkbox" name="go" value=181  id="20D" />
          <label for="20D">2D</label>
        </li>
        <li class="seat">
          <input type="checkbox"  name="go" value=182 id="20E" />
          <label for="20E">2E</label>
        </li>
        <li class="seat">
          <input type="checkbox" name="go" value=183  id="20F" />
          <label for="20F">2F</label>
        </li>
      </ol>
    </li>
    <li class="row row--3">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox"  name="go" value=184 id="21A" />
          <label for="21A">3A</label>
        </li>
        <li class="seat">
          <input type="checkbox"  name="go" value=185 id="21B" />
          <label for="21B">3B</label>
        </li>
        <li class="seat">
          <input type="checkbox" name="go" value=186  id="21C" />
          <label for="21C">3C</label>
        </li>
        <li class="seat">
          <input type="checkbox"  name="go" value=187 id="21D" />
          <label for="21D">3D</label>
        </li>
        <li class="seat">
          <input type="checkbox"  name="go" value=188 id="21E" />
          <label for="21E">3E</label>
        </li>
        <li class="seat">
          <input type="checkbox"  name="go" value=189 id="21F" />
          <label for="21F">3F</label>
        </li>
      </ol>
    </li>
    <li class="row row--4">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox" name="go" value=190  id="22A" />
          <label for="22A">4A</label>
        </li>
        <li class="seat">
          <input type="checkbox"  name="go" value=191 id="22B" />
          <label for="22B">4B</label>
        </li>
        <li class="seat">
          <input type="checkbox"  name="go" value=192 id="22C" />
          <label for="22C">4C</label>
        </li>
        <li class="seat">
          <input type="checkbox"  name="go" value=193 id="22D" />
          <label for="22D">4D</label>
        </li>
        <li class="seat">
          <input type="checkbox"  name="go" value=194 id="22E" />
          <label for="22E">4E</label>
        </li>
        <li class="seat">
          <input type="checkbox" name="go" value=195  id="22F" />
          <label for="22F">4F</label>
        </li>
      </ol>
    </li>
    <li class="row row--5">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox" name="go" value=196  id="23A" />
          <label for="23A">5A</label>
        </li>
        <li class="seat">
          <input type="checkbox" name="go" value=197  id="23B" />
          <label for="23B">5B</label>
        </li>
        <li class="seat">
          <input type="checkbox"  name="go" value=198 id="23C" />
          <label for="23C">5C</label>
        </li>
        <li class="seat">
          <input type="checkbox" name="go" value=199  id="23D" />
          <label for="23D">5D</label>
        </li>
        <li class="seat">
          <input type="checkbox"  name="go" value=200 id="23E" />
          <label for="23E">5E</label>
        </li>
        <li class="seat">
          <input type="checkbox" name="go" value=201  id="23F" />
          <label for="23F">5F</label>
        </li>
      </ol>
    </li>
    <li class="row row--6">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox"  name="go" value=202 id="24A" />
          <label for="24A">6A</label>
        </li>
        <li class="seat">
          <input type="checkbox"  name="go" value=203 id="24B" />
          <label for="24B">6B</label>
        </li>
        <li class="seat">
          <input type="checkbox"  name="go" value=204 id="24C" />
          <label for="24C">6C</label>
        </li>
        <li class="seat">
          <input type="checkbox" name="go" value=205  id="24D" />
          <label for="24D">6D</label>
        </li>
        <li class="seat">
          <input type="checkbox"  name="go" value=206 id="24E" />
          <label for="24E">6E</label>
        </li>
        <li class="seat">
          <input type="checkbox" name="go" value=207  id="24F" />
          <label for="24F">6F</label>
        </li>
      </ol>
    </li>
    </li>
  </ol>


  <ol class="block4">
    <li class="row row--1">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox" name="go" value=208  id="13A" />
          <label for="13A">1A</label>
        </li>
        <li class="seat">
          <input type="checkbox"  name="go" value=209 id="13B" />
          <label for="13B">1B</label>
        </li>
        <li class="seat">
          <input type="checkbox" name="go" value=210  id="13C" />
          <label for="13C">1C</label>
        </li>
        <li class="seat">
          <input type="checkbox" name="go" value=211  id="13D" />
          <label for="13D">1D</label>
        </li>
        <li class="seat">
          <input type="checkbox"  name="go" value=212 id="13E" />
          <label for="13E">1E</label>
        </li>
        <li class="seat">
          <input type="checkbox" name="go" value=213  id="13F" />
          <label for="13F">1F</label>
        </li>
      </ol>
    </li>
    <li class="row row--2">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox" name="go" value=214 id="14A" />
          <label for="14A">2A</label>
        </li>
        <li class="seat">
          <input type="checkbox"  name="go" value=215 id="14B" />
          <label for="14B">2B</label>
        </li>
        <li class="seat">
          <input type="checkbox"  name="go" value=216 id="14C" />
          <label for="14C">2C</label>
        </li>
        <li class="seat">
          <input type="checkbox" name="go" value=217  id="14D" />
          <label for="14D">2D</label>
        </li>
        <li class="seat">
          <input type="checkbox" name="go" value=218  id="14E" />
          <label for="14E">2E</label>
        </li>
        <li class="seat">
          <input type="checkbox"  name="go" value=219 id="14F" />
          <label for="14F">2F</label>
        </li>
      </ol>
    </li>
    <li class="row row--3">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox" name="go" value=220  id="15A" />
          <label for="15A">3A</label>
        </li>
        <li class="seat">
          <input type="checkbox"  name="go" value=221 id="15B" />
          <label for="15B">3B</label>
        </li>
        <li class="seat">
          <input type="checkbox"  name="go" value=222 id="15C" />
          <label for="15C">3C</label>
        </li>
        <li class="seat">
          <input type="checkbox" name="go" value=223  id="15D" />
          <label for="15D">3D</label>
        </li>
        <li class="seat">
          <input type="checkbox" name="go" value=224  id="15E" />
          <label for="15E">3E</label>
        </li>
        <li class="seat">
          <input type="checkbox" name="go" value=225  id="15F" />
          <label for="15F">3F</label>
        </li>
      </ol>
    </li>
    <li class="row row--4">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox" name="go" value=226  id="16A" />
          <label for="16A">4A</label>
        </li>
        <li class="seat">
          <input type="checkbox"  name="go" value=227 id="16B" />
          <label for="16B">4B</label>
        </li>
        <li class="seat">
          <input type="checkbox"  name="go" value=228 id="16C" />
          <label for="16C">4C</label>
        </li>
        <li class="seat">
          <input type="checkbox" name="go" value=229  id="16D" />
          <label for="16D">4D</label>
        </li>
        <li class="seat">
          <input type="checkbox"  name="go" value=230 id="16E" />
          <label for="16E">4E</label>
        </li>
        <li class="seat">
          <input type="checkbox"  name="go" value=231 id="16F" />
          <label for="16F">4F</label>
        </li>
      </ol>
    </li>
    <li class="row row--5">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox"  name="go" value=232 id="17A" />
          <label for="17A">5A</label>
        </li>
        <li class="seat">
          <input type="checkbox"  name="go" value=233 id="17B" />
          <label for="17B">5B</label>
        </li>
        <li class="seat">
          <input type="checkbox" name="go" value=234  id="17C" />
          <label for="17C">5C</label>
        </li>
        <li class="seat">
          <input type="checkbox"  name="go" value=235 id="17D" />
          <label for="17D">5D</label>
        </li>
        <li class="seat">
          <input type="checkbox"  name="go" value=236 id="17E" />
          <label for="17E">5E</label>
        </li>
        <li class="seat">
          <input type="checkbox"  name="go" value=237 id="17F" />
          <label for="17F">5F</label>
        </li>
      </ol>
    </li>
    <li class="row row--6">
      <ol class="seats" type="A">
        <li class="seat">
          <input type="checkbox"  name="go" value=238 id="18A" />
          <label for="18A">6A</label>
        </li>
        <li class="seat">
          <input type="checkbox"  name="go" value=239 id="18B" />
          <label for="18B">6B</label>
        </li>
        <li class="seat">
          <input type="checkbox" name="go" value=240  id="18C" />
          <label for="18C">6C</label>
        </li>
        <li class="seat">
          <input type="checkbox" name="go" value=241  id="18D" />
          <label for="18D">6D</label>
        </li>
        <li class="seat">
          <input type="checkbox" name="go" value=242  id="18E" />
          <label for="18E">6E</label>
        </li>
        <li class="seat">
          <input type="checkbox" name="go" value=243  id="18F" />
          <label for="18F">6F</label>
        </li>
      </ol>
    </li>
    </li>
  </ol>

  <% for(let i=0; i<lool.length;i++){ %>

  <script>
  $("input[type=checkbox][value= <%=lool[i].seat%> ]").prop("disabled",true);
  </script>

  <% } %>

<div class="form-style-6">
<h1>Registration</h1>
<input type="text" name="field1" placeholder="Your Name" />
<input type="email" name="field2" placeholder="Email Address" />
<input type="submit" value="Register">
</form>
</div>


<script>
$('.seat input:checkbox').click(function() {
    $('.seat input:checkbox').not(this).prop('checked', false);
});
</script>

</body>
</html>
